.new {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    top: 10px;
    left: 0;
    background-color: $main-color;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.action {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 30px;
    top: 50px;
    left: 0;
    background-color: $red-color;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.hit {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 30px;
    top: 10px;
    left: 0;
    background-color: $main-color;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}