.pageup {
    position: fixed;
    bottom: 40px;
    left: 40px;
    width: 40px;
    height: 40px;
    z-index: 5;
    i {
        height: 100%;
        width: 100%;
        font-size: 40px;
        color: $green-color;
    }
}